In [24]:
import numpy as np
import pandas as pd
np.random.seed(42)
jumlah_data = 1000
usia = np.random.randint(18,65, size=jumlah_data)
pendapatan = np.random.randint(2000000, 15000000, size = jumlah_data)
pengeluaran = np.random.randint(1000000, 10000000, size=jumlah_data)
skor_kredit = np.random.randint(300, 851, size = jumlah_data)
masa_kerja = np.random.randint(0, 30, size = jumlah_data)
jumlah_tanggungan = np.random.randint(0,6, size = jumlah_data)
jenis_pekerjaan = np.random.choice(['PNS','Swasta','Wirausaha','Profesional','Pejabat'], size = jumlah_data)
pendidikan = np.random.choice(['SMA','D3','S1','S2','S3'], size = jumlah_data)
status_pernikahan= np.random.choice(['Belum Menikah','Menikah','Cerai'], size = jumlah_data)

status_kredit=[]
for i in range(jumlah_data):
    if (skor_kredit[i] > 750) or\
       (skor_kredit[i] > 650 and pendapatan [i] > 2 * pengeluaran[i]) or \
      (masa_kerja[i] > 5 and pendapatan[i] > 1.5 * pengeluaran[i] and skor_kredit[i] > 500):
        status_kredit.append('Disetujui')
    else:
        status_kredit.append('Ditolak')

df = pd.DataFrame({
    'usia':usia,
    'pendapatan':pendapatan,
    'pengeluaran':pengeluaran,
    'skor_kredit':skor_kredit,
    'masa_kerja':masa_kerja,
    'jumlah_tanggungan':jumlah_tanggungan,
    'jenis_pekerjaan':jenis_pekerjaan,
    'pendidikan':pendidikan,
    'status_pernikahan':status_pernikahan,
    'status_kredit':status_kredit,
})

print(df)
print(df.info())
print(df.head())
df.to_csv("Data_Nasabah_Kredit.csv", index=False)
print("Data telah disimpan ke Data_Nasabah_Kredit.csv")

     usia  pendapatan  pengeluaran  skor_kredit  masa_kerja  \
0      56    10767500      3229180          461          14
1      46     6199591      5188891          646           4
2      32     7500545      5031419          660          22
3      60    10291923      5495511          386          12
4      25     5154240      2424945          561          13
..    ...         ...          ...          ...         ...
995    22     9238987      8296405          375          22
996    40    11957168      7846539          770          15
997    27     6660061      9659522          713           0
998    61     4605214      5109803          756          21
999    19     9923641      6636289          584          24

     jumlah_tanggungan jenis_pekerjaan pendidikan status_pernikahan  \
0                    1             PNS         D3     Belum Menikah
1                    5          Swasta        SMA     Belum Menikah
2                    2       Wirausaha         S1             Cerai
3                    1          Swasta         S1     Belum Menikah
4                    4         Pejabat         S1     Belum Menikah
..                 ...             ...        ...               ...
995                  3     Profesional        SMA           Menikah
996                  3         Pejabat         D3           Menikah
997                  0          Swasta        SMA     Belum Menikah
998                  3          Swasta        SMA           Menikah
999                  5             PNS         S1           Menikah

    status_kredit
0         Ditolak
1         Ditolak
2         Ditolak
3         Ditolak
4       Disetujui
..            ...
995       Ditolak
996     Disetujui
997       Ditolak
998     Disetujui
999       Ditolak

[1000 rows x 10 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   usia               1000 non-null   int32
 1   pendapatan         1000 non-null   int32
 2   pengeluaran        1000 non-null   int32
 3   skor_kredit        1000 non-null   int32
 4   masa_kerja         1000 non-null   int32
 5   jumlah_tanggungan  1000 non-null   int32
 6   jenis_pekerjaan    1000 non-null   object
 7   pendidikan         1000 non-null   object
 8   status_pernikahan  1000 non-null   object
 9   status_kredit      1000 non-null   object
dtypes: int32(6), object(4)
memory usage: 54.8+ KB
None
   usia  pendapatan  pengeluaran  skor_kredit  masa_kerja  jumlah_tanggungan  \
0    56    10767500      3229180          461          14                  1
1    46     6199591      5188891          646           4                  5
2    32     7500545      5031419          660          22                  2
3    60    10291923      5495511          386          12                  1
4    25     5154240      2424945          561          13                  4

  jenis_pekerjaan pendidikan status_pernikahan status_kredit
0             PNS         D3     Belum Menikah       Ditolak
1          Swasta        SMA     Belum Menikah       Ditolak
2       Wirausaha         S1             Cerai       Ditolak
3          Swasta         S1     Belum Menikah       Ditolak
4         Pejabat         S1     Belum Menikah     Disetujui
Data telah disimpan ke Data_Nasabah_Kredit.csv